<div class="text-center">
    <!-- CHARACTER LIST -->
    <!--<div class="jumbotron">-->
        <h2>Characters</h2>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-animation="am-fade-and-scale" ng-show="currentUser" ng-click="showModal()">Add new character</button>
            <input class="btn btn-default" ng-model="query" placeholder="Search">
        </div>
    <!--</div>-->

    <div id="character-list" class="row">
        <div class="col-xs-4 col-lg-offset-0"
             ng-repeat="character in characters | filter:query">

            <h4>
                <a ng-show="currentUser"
                   class="btn btn-danger"
                   ng-click="deleteCharacter(character._id)"
                   href="#/characters">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
                {{ character.name }}
            </h4>

            <p>
                <div ng-if="character.picture">
                    <img class="img-circle" src="img/{{ character.picture }}" style="width:125px;height:125px">
                </div>
                <div ng-if="!character.picture">
                    <div class="drop-box" ng-file-drop="uploadPictureUpdateCharacter($files, character)">  Add picture </div>
                </div>
                {{ character.desc }}
            </p>
            <!--<div class="clearfix visible-lg-block"></div>-->

        </div>
    </div>

</div>