<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1>Characters</h1>
</div>

<div class="text-left">
    <!-- CHARACTER LIST -->
    <div id="character-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <div class="btn-group">

                <button type="button" class="btn btn-primary" data-animation="am-fade-and-scale"  ng-click="showModal()">Add new character</button>

                <input class="btn btn-default" ng-model="query" placeholder="Search">
            </div>

            <table ng-table class="table">
            <tr class="" ng-repeat="character in characters | filter:query">
                <td data-title="'Delete'">
                    <a class="btn btn-danger" ng-click="deleteCharacter(character._id)" href="#/characters">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </td>

                <td data-title="'Name'">
                    {{ character.name }}
                </td>

                <td data-title="'Description'">
                    {{ character.desc }}
                </td>

                <td data-title="'Picture'">
                    <div ng-if="character.picture">
                        <img src="img/{{ character.picture }}" style="width:100px;height:80px">
                    </div>
                    <div ng-if="!character.picture">
                        <div class="drop-box" ng-file-drop="uploadPictureUpdateCharacter($files, character)">  Add picture </div>
                    </div>
                </td>

            </tr>
            </table>
        </div>
    </div>

</div>